---
bases:
  - ../../values/base.yaml
---
helmDefaults:
  wait: true
  timeout: 600
  recreatePods: true
  force: false

commonLabels:
  provider: "{{ .Values.release_name }}-helm"

releases:
  - name: "{{ .Values.release_name }}-defguard"
    namespace: security
    chart: "defguard/defguard"
    version: '{{ .StateValues.helm_chart_version | get "defguard/defguard" }}'
    values:
      - values/defguard.yaml.gotmpl
