# Values for kube-prometheus-stack chart. See https://github.com/jameswynn/helm-charts/blob/main/charts/homepage/values.yaml

image:
  repository: ghcr.io/gethomepage/homepage
  tag: v0.8.13

env:
  LOG_LEVEL: "info"

config:
  bookmarks:
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/datahub-local/datahub-local
    - Tools:
        - ChatGPT:
            - icon: chatgpt.png
              abbr: CG
              href: https://chat.openai.com
        - "Image Creator":
            - icon: bing.png
              abbr: B
              href: https://www.bing.com/images/create
        - "Self-Hosted Applications and Alternatives":
            - icon: reddit.png
              abbr: SH
              href: https://chat.openai.com
  services:
  widgets:
    - logo:
        icon: https://datahub-local.alvsanand.com/assets/img/logo.png
    - greeting:
        text_size: 2xl
        text: DataHub.local
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: l
        locale: de
        format:
          dateStyle: short
          timeStyle: short
          hourCycle: h23
    - openmeteo:
        label: Rivas-Vaciamadrid
        latitude: 40.352017983073466
        longitude: -3.53941998801271
        units: metric
        cache: 5
  kubernetes:
    mode: cluster
  settings:
    title: "DataHub.local"
    base: "https://{{ .StateValues.ingress_hostname }}/homepage"

# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: true

ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: "{{ if .Values.traeffik.auth_enabled }}oauth2-proxy-traefik-auth@kubernetescrd{{ end }}"

      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Homepage"
      gethomepage.dev/href: "https://{{ .StateValues.ingress_hostname }}"
      gethomepage.dev/description: "A highly customizable homepage (or startpage / application dashboard) with Docker and service API integrations."
      gethomepage.dev/group: "System"
      gethomepage.dev/icon: "homepage.png"
    hosts:
      - host: "{{ .StateValues.ingress_hostname }}"
        paths:
          - path: /
            pathType: Prefix
