---
bases:
  - ../../values/base.yaml
---
repositories:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
  - name: minio
    url: https://charts.min.io/
  - name: trino
    url: https://trinodb.github.io/charts
  - name: superset
    url: http://apache.github.io/superset/
  - name: nessie
    url: https://charts.projectnessie.org/
  - name: dagster
    url: https://dagster-io.github.io/helm
  - name: ollama
    url: https://otwld.github.io/ollama-helm/
  - name: amithkk-sd
    url: https://amithkk.github.io/stable-diffusion-k8s
  - name: open-webui
    url: https://helm.openwebui.com

releases:
  - name: "{{ .Values.release_name }}-data"
    namespace: data
    chart: "."
    values:
      - ../../values/global.yaml
      - values/default.yaml.gotmpl
      - values/superset.yaml.gotmpl
      #{{- if isFile "/helm-values/security.yaml" }}
      - /helm-values/security.yaml
      #{{- end }}
  - name: "{{ .Values.release_name }}-data-postgresql"
    namespace: data
    chart: "bitnami/postgresql"
    version: "{{ .StateValues.helm_chart_version.postgresql }}"
    values:
      - values/postgresql.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-valkey"
    namespace: data
    chart: "bitnami/valkey"
    version: "{{ .StateValues.helm_chart_version.valkey }}"
    values:
      - values/valkey.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-minio"
    namespace: data
    chart: "minio/minio"
    version: "{{ .StateValues.helm_chart_version.minio }}"
    values:
      - values/minio.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-trino"
    namespace: data
    chart: "trino/trino"
    version: "{{ .StateValues.helm_chart_version.trino }}"
    values:
      - values/trino.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-superset"
    namespace: data
    chart: "superset/superset"
    version: "{{ .StateValues.helm_chart_version.superset }}"
    values:
      - values/superset.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-nessie"
    namespace: data
    chart: "nessie/nessie"
    version: "{{ .StateValues.helm_chart_version.nessie }}"
    values:
      - values/nessie.yaml.gotmpl
  - name: "dag"
    namespace: data
    chart: "dagster/dagster"
    version: "{{ .StateValues.helm_chart_version.dagster }}"
    values:
      - values/dagster.yaml.gotmpl
  - name: "ollama"
    namespace: data
    chart: "ollama/ollama"
    version: "{{ .StateValues.helm_chart_version.ollama }}"
    values:
      - values/ollama.yaml.gotmpl
  - name: "open-webui"
    namespace: data
    chart: "open-webui/open-webui"
    version: "{{ .StateValues.helm_chart_version.openwebui }}"
    values:
      - values/openwebui.yaml.gotmpl
