---
bases:
  - ../../values/base.yaml.gotmpl
---
releases:
  - name: "{{ .Values.release_name }}-data"
    namespace: data
    chart: "."
    values:
      - ../../values/global.yaml.gotmpl
      - values/default.yaml.gotmpl
      - values/superset.yaml.gotmpl
      #{{- if isFile "/helm-values/security.yaml" }}
      - /helm-values/security.yaml
      #{{- end }}
  - name: "{{ .Values.release_name }}-data-cloudnative-pg"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "cloudnative-pg").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "cloudnative-pg").version }}'
    values: []
  - name: "{{ .Values.release_name }}-data-cloudnative-pg-cluster-18"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "cluster").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "cluster").version }}'
    needs:
      - "{{ .Values.release_name }}-data-cloudnative-pg"
    values:
      - values/cloudnative-pg-cluster-18.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-valkey"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "valkey").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "valkey").version }}'
    values:
      - values/valkey.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-trino"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "trino").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "trino").version }}'
    values:
      - values/trino.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-superset"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "superset").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "superset").version }}'
    values:
      - values/superset.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-nessie"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "nessie").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "nessie").version }}'
    values:
      - values/nessie.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-airflow"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "airflow").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "airflow").version }}'
    values:
      - values/airflow.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-ollama"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "ollama").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "ollama").version }}'
    values:
      - values/ollama.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-open-webui"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "open-webui").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "open-webui").version }}'
    values:
      - values/openwebui.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-redpanda"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "redpanda").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "redpanda").version }}'
    values:
      - values/redpanda.yaml.gotmpl
  - name: "{{ .Values.release_name }}-data-garage"
    namespace: data
    chart: '{{ (.StateValues.helm_chart_version | get "garage").ref }}'
    version: '{{ (.StateValues.helm_chart_version | get "garage").version }}'
    values:
      - values/garage.yaml.gotmpl
