#{{ $gateway_hostname := (readFile "../../../values/global.yaml.gotmpl" | fromYaml).gateway_hostname }}

prometheus_rules:
  datahub.local.rules:
    - name: datahub.local.rules
      rules:
        - alert: HighCPUTemperature
          annotations:
            description: '{{`{{ printf "%.4g" $value }}`}} °C detected in {{`{{ $labels.instance }}`}}. This is a high temperature and you must shutdown the server'
            summary: One or more nodes have a high CPUs temperature'
          expr: avg(avg_over_time(node_hwmon_temp_celsius[1m])) by (instance) > 55
          for: 5m
          labels:
            severity: warning
        - alert: ExtremeCPUTemperature
          annotations:
            description: '{{`{{ printf "%.4g" $value }}`}} °C detected in {{`{{ $labels.instance }}`}}. This is a high temperature and you must shutdown the server'
            summary: One or more nodes have a extreme CPUs temperature'
          expr: avg(avg_over_time(node_hwmon_temp_celsius[1m])) by (instance) > 60
          for: 5m
          labels:
            severity: critical
        - alert: HighHDDTemperature
          annotations:
            description: '{{`{{ printf "%.4g" $value }}`}} °C detected in {{`{{ $labels.instance }}`}}. This is a high temperature in your HDD and you must shutdown the server'
            summary: One or more nodes have a high HDDs temperature'
          expr: avg(avg_over_time(smartmon_temperature_celcius[1m])) by (instance) > 70
          for: 5m
          labels:
            severity: warning
        - alert: ExtremeHDDTemperature
          annotations:
            description: '{{`{{ printf "%.4g" $value }}`}} °C detected in {{`{{ $labels.instance }}`}}. This is a high temperature in your HDD and you must shutdown the server'
            summary: One or more nodes have a extreme HDDs temperature'
          expr: avg(avg_over_time(smartmon_temperature_celcius[1m])) by (instance) > 95
          for: 5m
          labels:
            severity: critical
        - alert: ArgoAppMissing
          expr: |
            absent(argocd_app_info) == 1
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "[Argo CD] No reported applications"
            description: >
              Argo CD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.  This needs to be
              resolved for this cloud to continue to maintain state.
        - alert: ArgoAppNotSynced
          expr: |
            argocd_app_info{sync_status!="Synced"} == 1
          for: 12h
          labels:
            severity: warning
          annotations:
            summary: "[{{`{{$labels.name}}`}}] Application not synchronized"
            description: >
              The application [{{`{{$labels.name}}`}} has not been synchronized for over
              12 hours which means that the state of this cloud has drifted away from the
              state inside Git.
