# Values for promtail chart. See https://github.com/grafana/helm-charts/blob/main/charts/promtail/values.yaml

config:
  clients:
    - url: http://{{ $.Values.release_name }}-loki-gateway/loki/api/v1/push

tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
  - key: nvidia.com/gpu
    operator: Exists
    effect: NoSchedule
