---
bases:
  - ../../values/base.yaml.gotmpl
---
helmDefaults:
  wait: true
  timeout: 600
  recreatePods: true
  force: false

commonLabels:
  provider: "{{ .Values.release_name }}-helm"

releases:
  - name: "{{ .Values.release_name }}-media-servarr"
    namespace: media
    chart: "datahub-local/servarr"
    version: '{{ (.StateValues.helm_chart_version | get "servarr").version }}'
    values:
      - values/servarr.yaml.gotmpl
