---
bases:
  - ../../values/base.yaml
---
helmDefaults:
  wait: true
  timeout: 600
  recreatePods: true
  force: false

commonLabels:
  provider: "{{ .Values.release_name }}-helm"

releases:
  - name: "{{ .Values.release_name }}-media-servarr"
    namespace: other
    chart: "oci://ghcr.io/fonzdm/servarr/servarr"
    version: '{{ .StateValues.helm_chart_version | get "fonzdm/servarr" }}'
    values:
      - values/servarr.yaml.gotmpl
