# https://github.com/bjw-s-labs/helm-charts/blob/main/charts/library/common/values.yaml

#{{ $oidc_provider := "IAM" }}
#{{ $oidc_client_id := "actualbudget" }}
#{{ $oidc_client_secret := .StateValues.security_github_client_secret }}
#{{ $oidc_discovery := printf "https://security-dex.%s/dex/.well-known/openid-configuration" .StateValues.gateway_hostname }}

controllers:
  main:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      labels:
        backup.velero.io/custom-backup-daily-fs: "true"
      annotations:
        backup.velero.io/backup-volumes: data
    containers:
      main:
        image:
          repository: actualbudget/actual-server
          tag: '{{ range $key,$value := .StateValues.container_image_version }}{{ if (eq $key "actualbudget/actual-server") }}{{ $value }}{{ end }}{{ end }}'
        env:
          ACTUAL_PORT: "5006"
          ACTUAL_DATA_DIR: /data
          ACTUAL_SERVER_FILES: /data/server-files
          ACTUAL_USER_FILES: /data/user-files
          ACTUAL_LOGIN_METHOD: openid
          ACTUAL_ALLOWED_LOGIN_METHODS: "openid,password"
          ACTUAL_MULTIUSER: "true"
          ACTUAL_OPENID_ENFORCE: "false"
          ACTUAL_OPENID_PROVIDER_NAME: "{{ $oidc_provider }}"
          ACTUAL_OPENID_DISCOVERY_URL: "{{ $oidc_discovery }}"
          ACTUAL_OPENID_CLIENT_ID: "{{ $oidc_client_id }}"
          ACTUAL_OPENID_CLIENT_SECRET: "{{ $oidc_client_secret }}"
          ACTUAL_OPENID_SERVER_HOSTNAME: "https://other-actualbudget.{{ .StateValues.gateway_hostname }}"
          ACTUAL_OPENID_AUTH_METHOD: openid
          ACTUAL_TOKEN_EXPIRATION: never
          ACTUAL_USER_CREATION_MODE: login
        resources:
          requests:
            memory: 128Mi
            cpu: 25m
          limits:
            memory: 512Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 10Gi
    globalMounts:
      - path: /data

service:
  main:
    controller: main
    ports:
      http:
        port: 5006

rawResources:
  main:
    manifest:
      apiVersion: traefik.io/v1alpha1
      kind: IngressRoute
      metadata:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Actual Budget"
          gethomepage.dev/group: "Other"
          gethomepage.dev/icon: "actual-budget"
          gethomepage.dev/href: "https://other-actualbudget.{{ .Values.gateway_hostname }}"
      spec:
        entryPoints:
          - websecure
        routes:
          - match: Host(`other-actualbudget.{{ .Values.gateway_hostname }}`)
            kind: Rule
            services:
              - name: "{{ .Values.release_name }}-other-actualbudget"
                port: http
