image:
  repository: ghcr.io/gethomepage/homepage
  tag: '{{ range $key,$value := .StateValues.container_image_version }}{{ if (eq $key "ghcr.io/gethomepage/homepage") }}{{ $value }}{{ end }}{{ end }}'

env:
  LOG_LEVEL: "info"

config:
  settings:
    title: "DataHub.local"
    base: "https://{{ .StateValues.ingress_hostname }}"
    layout:
      - System:
          style: row
          columns: 4
      - Monitoring:
          style: row
          columns: 4
      - Automation:
          style: row
          columns: 4
      - Other:
          style: row
          columns: 4
      - Data:
          style: row
          columns: 4
  bookmarks:
    - DataHub.local:
        - Github:
            - href: https://github.com/datahub-local
        - TailScale:
            - icon: si-tailscale
              href: https://login.tailscale.com/
    - Tools:
        - ChatGPT:
            - icon: chatgpt.svg
              href: https://chat.openai.com
        - "Bing Image Creator":
            - icon: bing.svg
              href: https://www.bing.com/images/create
        - "kubesearch.dev":
            - icon: https://kubesearch.dev/k8s-search.svg
              href: https://kubesearch.dev/
        - "selfh.st":
            - icon: reddit.svg
              href: https://selfh.st/apps/
  services:
    - System:
    - Monitoring:
    - Automation:
    - Other:
    - Data:
  widgets:
    - logo:
        icon: https://datahub-local.alvsanand.com/assets/img/logo.png
    - greeting:
        text_size: 2xl
        text: DataHub.local
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: l
        locale: de
        format:
          dateStyle: short
          timeStyle: short
          hourCycle: h23
    - openmeteo:
        label: Rivas-Vaciamadrid
        latitude: 40.352017983073466
        longitude: -3.53941998801271
        units: metric
        cache: 5
  kubernetes:
    mode: cluster

# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: true

ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: "{{ if .Values.security_enabled }}security-security-oauth2@kubernetescrd{{ end }}"

      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Homepage"
      gethomepage.dev/description: "A highly customizable homepage (or startpage / application dashboard) with Docker and service API integrations."
      gethomepage.dev/group: "Other"
      gethomepage.dev/icon: "homepage.png"
    hosts:
      - host: "{{ .StateValues.ingress_hostname }}"
        paths:
          - path: /
            pathType: Prefix
