image:
  repository: ghcr.io/gethomepage/homepage
  tag: v0.9.3

env:
  LOG_LEVEL: "info"

config:
  bookmarks:
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/datahub-local/datahub-local
    - Tools:
        - ChatGPT:
            - icon: chatgpt.svg
              abbr: CG
              href: https://chat.openai.com
        - "Image Creator":
            - icon: bing.svg
              abbr: B
              href: https://www.bing.com/images/create
        - "Self-Hosted Applications and Alternatives":
            - icon: reddit.svg
              abbr: SH
              href: https://selfh.st/apps/
  layout:
    - System:
        style: row
        columns: 2
    - Monitoring:
        style: row
        columns: 2
    - Automation:
        style: row
        columns: 2
    - Other:
        style: row
        columns: 2
    - Data:
        style: row
        columns: 4
    - Developer:
        style: row
        columns: 2
    - Tools:
        style: row
        columns: 2
  services:
    - System:
    - Monitoring:
    - Automation:
    - Other:
    - Data:
  widgets:
    - logo:
        icon: https://datahub-local.alvsanand.com/assets/img/logo.png
    - greeting:
        text_size: 2xl
        text: DataHub.local
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: l
        locale: de
        format:
          dateStyle: short
          timeStyle: short
          hourCycle: h23
    - openmeteo:
        label: Rivas-Vaciamadrid
        latitude: 40.352017983073466
        longitude: -3.53941998801271
        units: metric
        cache: 5
  kubernetes:
    mode: cluster
  settings:
    title: "DataHub.local"
    base: "https://other-homepage.{{ .StateValues.ingress_hostname }}"

# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: true

ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: "{{ if .Values.security_enabled }}security-security-oauth2@kubernetescrd{{ end }}"

      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Homepage"
      gethomepage.dev/description: "A highly customizable homepage (or startpage / application dashboard) with Docker and service API integrations."
      gethomepage.dev/group: "Other"
      gethomepage.dev/icon: "homepage.png"
    hosts:
      - host: "other-homepage.{{ .StateValues.ingress_hostname }}"
        paths:
          - path: /
            pathType: Prefix
