# https://github.com/jameswynn/helm-charts/blob/main/charts/homepage/values.yaml
image:
  repository: ghcr.io/gethomepage/homepage
  tag: '{{ range $key,$value := .StateValues.container_image_version }}{{ if (eq $key "ghcr.io/gethomepage/homepage") }}{{ $value }}{{ end }}{{ end }}'

env:
  LOG_LEVEL: "info"
  HOMEPAGE_ALLOWED_HOSTS: "{{ .StateValues.gateway_hostname }}"

config:
  settings:
    title: "DataHub.local"
    base: "https://{{ .StateValues.gateway_hostname }}"
    statusStyle: "dot"
    layout:
      - System:
          useEqualHeights: true
      - Security:
          useEqualHeights: true
      - Automation:
          style: row
          columns: 4
          useEqualHeights: true
      - Monitoring:
          style: row
          columns: 4
          useEqualHeights: true
      - Data:
          style: row
          columns: 4
          useEqualHeights: true
      - Media:
          style: row
          columns: 4
          useEqualHeights: true
      - Other:
          style: row
          columns: 4
          useEqualHeights: true
  kubernetes:
    mode: cluster
    gateway: false
    ingress: false
    traefik: true
  bookmarks:
    - DataHub.local:
        - Github:
            - icon: "sh-github"
              href: https://github.com/datahub-local
        - Project Board:
            - icon: "si-pinboard"
              href: https://github.com/orgs/datahub-local/projects/1/views/1
        - Docs:
            - icon: "sh-mkdocs"
              href: https://datahub-local.alvsanand.com/
        - Slack:
            - icon: "sh-slack"
              href: https://datahublocal.slack.com/
        - Renovate:
            - icon: "sh-mend-renovate"
              href: https://developer.mend.io/github/datahub-local
    - Tools:
        - ChatGPT:
            - icon: chatgpt.svg
              href: https://chat.openai.com
        - "Bing Image Creator":
            - icon: bing.svg
              href: https://www.bing.com/images/create
        - "kubesearch.dev":
            - icon: https://kubesearch.dev/k8s-search.svg
              href: https://kubesearch.dev/
        - "selfh.st":
            - icon: https://selfh.st/content/images/size/w256h256/2023/09/favicon-1.png
              href: https://selfh.st/apps/
        - "recetasgratis.net":
            - icon: mdi-chef-hat
              href: https://www.recetasgratis.net/
  services:
    - System:
        - TrueNas:
            icon: "sh-truenas-scale"
            href: https://datahublocal-nas.homelab.alvsanand.com/
            description: Open-Source Software Defined Storage Solution.
    - Security:
        - Tailscale:
            icon: "sh-tailscale"
            href: https://login.tailscale.com/
            description: The easiest, most secure way to use WireGuard and 2FA.
            namespace: security
            app: "{{ .Values.release_name }}-tailscale"
  widgets:
    - logo:
        icon: https://datahub-local.alvsanand.com/assets/img/logo.png
    - greeting:
        text_size: 2xl
        text: DataHub.local
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: l
        locale: de
        format:
          dateStyle: short
          timeStyle: short
          hourCycle: h23
    - openmeteo:
        label: Rivas-Vaciamadrid
        latitude: 40.352017983073466
        longitude: -3.53941998801271
        units: metric
        cache: 5

# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: true
