# https://github.com/Stirling-Tools/Stirling-PDF-chart/blob/main/charts/stirling-pdf/values.yamll

envs:
  - name: SECURITY_ENABLELOGIN
    value: "false"
  - name: ALLOW_GOOGLE_VISIBILITY
    value: "false"
