#{{ $security_admin_user := (readFile "../../../values/global.yaml" | fromYaml).security_admin_user }}

minio_user: "{{ $security_admin_user }}"

minio_buckets:
  - name: datahub-local-bronze
  - name: datahub-local-silver
  - name: datahub-local-gold

postgress_user: "{{ $security_admin_user }}"
postgress_database: "postgres"
postgress_extra_databases:
  superset: superset
  nessie: nessie
  dagster: dagster

tino_user: "{{ $security_admin_user }}"

superset_user: "{{ $security_admin_user }}"
