# https://github.com/projectnessie/nessie/blob/main/helm/nessie/values.yaml
replicaCount: 1

versionStoreType: JDBC

jdbc:
  jdbcUrl: "jdbc:postgresql://{{ $.Values.release_name }}-data-postgresql:5432/{{ .StateValues.postgres_extra_databases.nessie }}"
  secret:
    name: postgresql-admin-credentials
    username: user
    password: password
