resources:
  limits:
    nvidia.com/gpu: "0.5"
  requests:
    nvidia.com/gpu: "0.5"

persistentVolume:
  storageClass: local-path

tolerations:
  - key: nvidia.com/gpu
    operator: Exists
    effect: NoSchedule
