ollama:
  enabled: false

ollamaUrls:
  - http://ollama:11434

ingress:
  enabled: true
  class: "traefik"
  host: "data-openwebui.{{ .StateValues.ingress_hostname }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: "{{ if .Values.security_enabled }}security-security-oauth2@kubernetescrd{{ end }}"

    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "Open WebUI"
    gethomepage.dev/pod-selector: "app.kubernetes.io/instance=open-webui"
    gethomepage.dev/description: "User-friendly WebUI for LLMs (Formerly Ollama WebUI)"
    gethomepage.dev/group: "Data"
    gethomepage.dev/icon: "open-webui"

extraEnvVars:
  - name: WEBUI_AUTH
    value: "False"
  - name: AUTOMATIC1111_BASE_URL
    value: "http://stable-diffusion-k8s:80"
  - name: ENABLE_IMAGE_GENERATION
    value: "False"