global:
  postgresql:
    auth:
      username: "{{ .StateValues.security_admin_user }}"
      database: "{{ .StateValues.postgress_database }}"
      existingSecret: "postgresql-admin-credentials"
      secretKeys:
        adminPasswordKey: "password"
        userPasswordKey: "password"
        replicationPasswordKey: "password"

metrics:
  enabled: true

  collectors:
    wal: false

  serviceMonitor:
    enabled: true
    podMonitor:
      enabled: true
