architecture: standalone

auth:
  existingSecret: "valkey-admin-credentials"
  existingSecretPasswordKey: "password"

metrics:
  enabled: true

  podMonitor:
    enabled: true

  serviceMonitor:
    enabled: true
